<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Yaksh Bank</title>
</head>
<body>
    <h1>Yaksh Bank</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
