
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4" style="background-color:lavender;">
        <p>
            We understand everyone’s banking needs are different. That’s why we offer a variety of flexible checking accounts, all designed to make banking easier and help you reach your financial goals. Take a look below to see the wide range of options available, and get in touch with a Personal Banker to determine the best fit. 

        </p>
        </div>
        <div class="col-sm-4" style="background-color:lavenderblush;">.col-sm-4</div>
        <div class="col-sm-4" style="background-color:lavender;">.col-sm-4</div>
    </div>
</div>




